<section class="artistinfo">
  <div class="artist cf" ng-model="events">
    <a href="#/details/{{prevItem}}" class="btn btn-left">&lt;</a>
    <a href="#/details/{{nextItem}}" class="btn btn-right">&gt;</a>
    <h1>{{events[whichItem].post_title}}</h1>
    <div class="info">
      <h3>{{events[whichItem].custom_fields.start_date}}</h3>
      <img ng-src="{{events[whichItem].thumbnail}}" alt="Photo of {{events[whichItem].post_title}}">
      <div class="bio">{{events[whichItem].post_content}}</div>
    </div>
  </div>
  <a href="index.html">&laquo; Back to search</a>
</section>