
<div flex layout="row">
    
    
    <div ng-controller="PanelCtrl" layout="column" layout-fill flex="25">
      <section layout="row" flex>

        <md-content flex class="md-padding">

            <div layout="column" layout-fill layout-align="center right">
                <div flex="50" class="pfennig">
                    <button class="md-button md-blue-theme"  ng-transclude="" style="min-width: 36px; -webkit-user-select: none; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);" layout="row" layout-align="center center" ng-click="toggleRight()" tabindex="0"><md-icon icon="img/icon-menu.svg" ></md-icon></button>
                    <!-- <md-button class="md-fab md-primary"  ng-click="toggleRight()" id="toggle-right-menu"><md-icon icon="/img/icon-menu.svg"></md-icon></md-button> -->
                </div>
            </div>
        </md-content>
        <md-sidenav class="md-sidenav-right md-whiteframe-z2" md-component-id="right">
          <md-toolbar class="md-theme-light"  layout="row" >
            <button class="md-button md-blue-theme" flex="20"  ng-transclude="" style="min-width: 36px; -webkit-user-select: none; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);" layout="row" layout-align="center center" ng-click="close()" tabindex="0">&lt;</button>
            <h1 class="md-toolbar-tools pfennig" flex="80">תפריט ניווט</h1>
          </md-toolbar>
          <md-content class="md-padding">
                <md-list>
                    <md-item>
                        <md-button ng-click="close()" aria-label="" >
                            <a href="index.html"><span class="md-inline-list-icon-label">ראשי</span></a>
                        </md-button>
                    </md-item>
                  <md-item>
                      <md-button  ng-click="close()" aria-label="אירועים">
                          <a href="#/list"><span class="md-inline-list-icon-label">מוזיקה ואירועים</span></a>
                      </md-button>
                  </md-item>
                    
                    <md-item>
                      <md-button ng-click="close()" aria-label="סרטים">
                          <a href="#/movies"><span class="md-inline-list-icon-label">סרטים</span></a>
                      </md-button>
                  </md-item>

                    <md-item>
                        <md-button ng-click="close()" aria-label="מסעדות">
                            <a href="#/restaurants"><span class="md-inline-list-icon-label">מסעדות ובתי קפה</span></a>
                        </md-button>
                    </md-item>

                    <md-item>
                        <md-button ng-click="close()" aria-label="תרבות אמנות והעשרה">
                            <a href="#/culture"><span class="md-inline-list-icon-label">תרבות אמנות והעשרה</span></a>
                        </md-button>
                    </md-item>

                    <md-item>
                        <md-button ng-click="close()" aria-label="פעילויות ילדים וחוגים">
                            <a href="#/kids"><span class="md-inline-list-icon-label">פעילויות ילדים וחוגים</span></a>
                        </md-button>
                    </md-item>


                    <md-item>
                        <md-button ng-click="close()" aria-label="מבצעים והנחות">
                            <a href="#/coupons"><span class="md-inline-list-icon-label">מבצעים והנחות</span></a>
                        </md-button>
                    </md-item>

                    <md-item>
                        <md-button ng-click="close()" aria-label="חדשות">
                            <a href="#/news"><span class="md-inline-list-icon-label">חדשות</span></a>
                        </md-button>
                    </md-item>
                    


                    
                </md-list>
          </md-content>
        </md-sidenav>
      </section>
    </div>
    
    
    <div layout="column" flex="50" id="header-title" >
        <h1 class="pfennig" >כנרת דיגיטל</h1>
    </div>
    
    
    
    
    
</div>

